<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS-UI-UIImage-Study.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>204E60071F3ED90E00403C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>204E601B1F3ED90F00403C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>204E60261F3ED90F00403C3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
